<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Öchpochmak Development</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <style>
        canvas {
            background-color: lightblue;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <span>LineRunnerApp</span>
            </div>
        </nav>
    </header>
    
    <div style="display:none">
        <img id="point" src="/img/point.png" width="10" height="10" />
    </div>

    <div class="container">

        <canvas id="PaintPad" width="600" height="600"></canvas>

    </div>

    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        const image = document.getElementById('point');
        let x = 0, lastX = 0;
        let y = 0, lastY = 0;

        let points = new Array();

        var hubConnection = new signalR.HubConnectionBuilder().withUrl("/hubs").build();

        hubConnection.on('addPoint', x, y);

        var canvas = document.getElementById('PaintPad');
        var context = canvas.getContext('2d');

        function mouseDownEvent(e) {
            x = e.offsetX;
            y = e.offsetY;
            addPoint(x, y);
        }

        function addPoint(x, y) {
            if (points.length > 0) {
                firstTuple = points[0];
                lastTuple = points[points.length - 1];

                context.lineWidth = 2;
                context.strokeStyle = 'yellow';

                context.moveTo(lastTuple[0] + 5, lastTuple[1] + 5);
                context.lineTo(x + 5, y + 5);
                context.stroke();

                if (points.length >= 2) {
                    context.clearRect(0, 0, canvas.width, canvas.height);
                    for (let i = 0; i < points.length; i++)
                    {
                        context.drawImage(image, points[i][0], points[i][1]);
                        let next = i + 1;
                        if (next != points.length) {
                            context.moveTo(points[i][0] + 5, points[i][1] + 5);
                            context.lineTo(points[next][0] + 5, points[next][1] + 5);
                            context.stroke();
                        }
                        else {
                            context.drawImage(image, x, y);
                            context.moveTo(points[i][0] + 5, points[i][1] + 5);
                            context.lineTo(x + 5, y + 5);
                            context.stroke();

                            context.moveTo(x + 5, y + 5);
                            context.lineTo(points[0][0] + 5, points[0][1] + 5);
                            context.stroke();
                        }
                    }
                }
            }

            points.push([x, y]);

            context.drawImage(image, x, y);
        }

        canvas.addEventListener('mousedown', mouseDownEvent);

        hubConnection.start().then(function () {
            return console.error('started...');
        });
    </script>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - LineRunnerApp
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>