<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Öchpochmak Development</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <style>
        canvas {
            background-color: lightblue;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <span>LineRunnerApp</span>
            </div>
        </nav>
    </header>
    
    <div class="container">

        <canvas id="PaintPad" width="600" height="600"></canvas>

    </div>

    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        let points = new Array();
        let x = 0, y = 0;

        var hubConnection = new signalR.HubConnectionBuilder().withUrl("/hubs").build();

        hubConnection.on('addPoint', x, y);

        var canvas = document.getElementById('PaintPad');
        var context = canvas.getContext('2d');

        function mouseDownEvent(e) {
            switch (e.which) {
                case 1:
                    x = e.offsetX;
                    y = e.offsetY;
                    addPoint(x, y);
                    break;
            }
        }

        function drawBall() {
            context.beginPath();
            context.arc(0, 0, 10, 0, Math.PI * 2);
            context.fillStyle = "green";
            context.fill();
            context.closePath();
        }

        function drawMarker() {
            for (let i = 0; i < points.length; i++) {
                context.beginPath();
                context.arc(points[i][0], points[i][1], 5, 0, Math.PI * 2);
                context.fillStyle = "red";
                context.fill();
                context.closePath();
                drawBall();
            }
        }
        //setInterval(drawMarker, 100);

        
        function draw() {
            context.clearRect(0, 0, canvas.width, canvas.height);
            drawMarker();
        }

        setInterval(draw, 10);

        function addPoint(x, y) {
            points.push([x, y]);
        }

        function getPositionAlongTheLine(x1, y1, x2, y2, percentage) {
            return {
                x: x1 * (1.0 - percentage) + x2 * percentage,
                y: y1 * (1.0 - percentage) + y2 * percentage
            };
        }

        canvas.addEventListener('mousedown', mouseDownEvent);

        hubConnection.start().then(function () {
            console.error('started...');
        });
    </script>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - LineRunnerApp
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>