<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Öchpochmak Development</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <style>
        canvas {
            background-color: lightblue;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <span>LineRunnerApp</span>
            </div>
        </nav>
    </header>
    
    <div style="display:none">
        <img id="point" src="/img/point.png" width="10" height="10" />
    </div>

    <div class="container">

        <canvas id="PaintPad" width="600" height="600"></canvas>

    </div>

    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        let points = new Array();
        let x = 0, y = 0;

        var hubConnection = new signalR.HubConnectionBuilder().withUrl("/hubs").build();

        hubConnection.on('addPoint', x, y);

        var canvas = document.getElementById('PaintPad');
        var context = canvas.getContext('2d');
        //context.lineWidth = 2;
        //context.strokeStyle = 'yellow';

        function mouseDownEvent(e) {
            switch (e.which) {
                case 1:
                    x = e.offsetX;
                    y = e.offsetY;
                    addPoint(x, y);
                    break;
            }
        }

        //function drawLine(x1, y1, x2, y2) {
        //    context.beginPath();
        //    context.moveTo(x1 + 5, y1 + 5);
        //    context.lineTo(x2 + 5, y2 + 5);
        //    context.stroke();
        //    context.drawImage(document.getElementById('point'), x1, y1);
        //    context.drawImage(document.getElementById('point'), x2, y2);
        //}

        function drawMarker() {
            for (let i = 0; i < points.length; i++) {
                context.drawImage(document.getElementById('point'), points[i][0], points[i][1]);
            }
        }
        setInterval(drawMarker, 10);

        function addPoint(x, y) {
            //if (points.length != 0) {
            //    context.clearRect(0, 0, canvas.width, canvas.height);
            //    for (let i = 0; i < points.length; i++) {
            //        let next = i + 1;
            //        if (next != points.length) {
            //            drawLine(points[i][0], points[i][1], points[next][0], points[next][1]);
            //        }
            //        else {
            //            drawLine(points[i][0], points[i][1], x, y);
            //        }
            //    }
            //    drawLine(x, y, points[0][0], points[0][1]);
            //}
            //else {
            //    context.drawImage(document.getElementById('point'), x, y);
            //}

            points.push([x, y]);
        }

        canvas.addEventListener('mousedown', mouseDownEvent);

        hubConnection.start().then(function () {
            console.error('started...');
        });
    </script>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - LineRunnerApp
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>