<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Öchpochmak Development</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css" />
    <style>
        canvas {
            background-color: lightblue;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <span>LineRunnerApp</span>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">

            <div class="col-sm">
                <div class="row">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Введите логин" id="login" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <input class="btn btn-outline-secondary" id="sendLogin" type="button" value="Войти" />
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="input-group mb-3" id="selectionMarker" style="visibility: collapse;">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Маркеры</label>
                        <select class="custom-select mr-sm-2" id="markerSelect">
                            <option selected value="0" id="sdMarker0">Выбрать все</option>
                        </select>
                        <div class="input-group-append">
                            <input class="btn btn-outline-secondary" id="removeMarker" type="button" value="Удалить маркер" />
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <table class="table table-striped table-bordered table-sm" id="eventTable" style="visibility: collapse;">
                        <thead>
                            <tr>
                                <th class="th-sm" scope="col">Пользователь</th>
                                <th class="th-sm" scope="col">Действие</th>
                                <th class="th-sm" scope="col">Дата</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <td>Carry</td>
                                <td>Green</td>
                                <td>aky</td>
                            </tr>
                            <tr>
                                <td>Gary</td>
                                <td>Lewis</td>
                                <td>mad</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="col-sm">
                <canvas id="PaintPad" width="600" height="600"></canvas>
            </div>

        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - LineRunnerApp
        </div>
    </footer>
    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/runner.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
</body>
</html>