<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Öchpochmak Development</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <style>
        canvas {
            background-color: lightblue;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <span>LineRunnerApp</span>
            </div>
        </nav>
    </header>
    
    <div class="container">

        <canvas id="PaintPad" width="600" height="600"></canvas>

    </div>

    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        // Координаты меток, полученные по нажатию кнопки мыши
        let points = new Array();
        // Текущие координаты
        let x = 0, y = 0;

        // Область изображения и контекст
        var canvas = document.getElementById('PaintPad');
        var context = canvas.getContext('2d');

        // По нажатию кнопки на область прорисовки,
        // полученные координаты вписываем в коллекцию координат меток
        function addPoint(x, y) {
            points.push([x, y]);
        }

        // События на нажатие кнопки мыши 
        function mouseDownEvent(e) {
            switch (e.which) {
                // События будут отслеживаться только по нажатию левой кнопки
                case 1:
                    // Получяем координаты мыши и 
                    // отправляем в коллекцию координат меток
                    x = e.offsetX;
                    y = e.offsetY;
                    addPoint(x, y);
                    break;
            }
        }

        // Фиксируем события нажатия кнопки мыши
        canvas.addEventListener('mousedown', mouseDownEvent);

        // Рисуем маркер в области нажатия левой кнопки мыши
        function drawMarkerPoint(mx, my) {
            context.beginPath();
            // Параметры маркера
            context.arc(mx, my, 10, 0, Math.PI * 2);
            // Цвет маркера
            context.fillStyle = "red";
            context.fill();
            context.closePath();
        }

        // Рисуем линию между маркерами
        function drawMarkerLine(x1, y1, x2, y2) {
            // Параметры линий между маркерами
            context.lineWidth = 2;
            context.strokeStyle = 'yellow';
            context.beginPath();
            // Рисуем линию
            context.moveTo(x1, y1);
            context.lineTo(x2, y2);
            context.stroke();
            // После линий рисуем уже сами маркеры
            drawMarkerPoint(x1, y1);
            drawMarkerPoint(x2, y2);
        }

        // Функция прорисовки маркеров на области изображения
        function drawMarkersPath() {
            // Проходим по всем координатам и рисуем точки
            for (let i = 0; i < points.length; i++) {
                let next = i + 1;

                // Если текущая точка не последняя, то рисуем маршрут от нее до следующей точки,
                // если последняя, что рисуем маршрут от неё до начальной точки
                if (next != points.length) {
                    drawMarkerLine(points[i][0], points[i][1], points[next][0], points[next][1]);
                }
                else {
                    drawMarkerLine(points[0][0], points[0][1], points[i][0], points[i][1]);
                }
            }
        }

        // Функция прорисовки элементов
        function draw() {
            // Очистка изображения
            context.clearRect(0, 0, canvas.width, canvas.height);
            // Прорисовка маркеров для перемещения точек
            drawMarkersPath();
        }
        // Интервал обновления изображения
        setInterval(draw, 10);
    </script>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - LineRunnerApp
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>